@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&family=Noto+Sans:wght@900&family=Poppins:wght@300;400;500;600&family=Rubik+Pixels&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* 
body.modal {
  overflow: hidden;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
} */

.react-calendar-heatmap .color-empty {
  fill: #262c36;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

.react-calendar-heatmap text {
  font-size: 8px;
  fill: #aaa;
  margin-right: 5px;
}