.modal {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.card {
    height: 350px;
    width: 500px;
    background: #262C36;
    border-radius: 10px;
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 20px 40px;
}

.profileInfo {
    flex: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.inputBox {
    color: #ccc;
    width: 100%;
}

.inputBox input {
    width: 100%;
    border: none;
    outline: none;
    background: #15181E;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 7px;
    color: #ccc;
}

.btns {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    bottom: 0;
    right: 0;
}

.cancelbtn {
    padding: 7px 15px;
    border-radius: 5px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.submitbtn {
    padding: 7px 15px;
    border-radius: 5px;
    background: #F3912E;
    border: none;
    cursor: pointer;
}