.sidebar {
    height: calc(100vh - 60px);
    background: red;
    width: 80px;
    background: #262c36;
    border-right: 1px solid #3C424A;
    position: fixed;
    top: 60px;
    left: 0;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.sidebarItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 8px;
    gap: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.25s ease-in-out;
}

.sidebarItems:hover {
    background: #483D35;
}

@media screen and (max-width: 760px) {
    .sidebar {
        display: none;
    }
}